<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink ="/" class="navbar-brand">ANGULAR</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive ="active" ><a  routerLink = "/recipes" >Recipes</a></li>
        <li routerLinkActive ="active"><a  routerLink = "/shopping-list">Shopping List</a></li>
        <li routerLinkActive ="active"><a  routerLink = "/directive" > Directive </a></li>
        <li routerLinkActive ="active"><a  routerLink = "/services"  > Services </a></li>
        <li routerLinkActive ="active"><a  routerLink = "/observable"  > observable </a></li>
        <li routerLinkActive ="active"><a  routerLink = "/forms"  > TDForm </a></li>
        <li routerLinkActive ="active"><a  routerLink = "/reactive"  > ReactiveForm </a></li>
        <li routerLinkActive ="active"><a  routerLink = "/pipe"  > Pipe </a></li>
        <li routerLinkActive ="active"><a  routerLink = "/http"  > Http </a></li>
        <li routerLinkActive ="active"><a  routerLink = "/api"  > Api </a></li>
        <li routerLinkActive ="active"><a  routerLink = "/apicrud"  > ApiCrud </a></li>
        <li routerLinkActive ="active"><a  routerLink = "/test" > Test </a></li>
       
      
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/signin">Login</a></li>
        <li><a routerLink="/signup">Register</a></li>
        <li class="dropdown" appDropdown >
          <a   class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a (click)="onSaveData()" > Save Data  </a></li>
            <li><a (click)="onFetchData()" > Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
