
<app-header (featureSelected)="onNavigate($event)" ></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12"> 
      <!-- <app-recipes *ngIf ="loadedFeature === 'recipe'" ></app-recipes>
      <app-shopping-list *ngIf ="loadedFeature === 'shopping-list'" ></app-shopping-list>
     <app-bind *ngIf= "loadedFeature ==='test'"></app-bind> 
     <app-directive *ngIf= "loadedFeature ==='directive'" ></app-directive>
     <app-services *ngIf= "loadedFeature ==='service'" ></app-services>  -->


     <router-outlet></router-outlet>

   </div>
  </div>
</div> 

<!-- 
 <div class="container">
  <app-cockpit (serverCreated)="onServerAdded($event)" (bpCreated)="onBlueprintAdded($event)">
  </app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button  ></button>
       <app-server-element *ngFor="let serverElement of serverElements" [srvElement]="serverElement" ></app-server-element>
    </div>
  </div>
</div> -->

<!-- 
 <div class="container" >
  <app-bind (eventCreated)="onBindCreated($event)" ></app-bind>
   <div class="row" >
      <app-bind-element 
      *ngFor="let serverElement of serverElements" 
      [srvElement]="serverElement"
      ></app-bind-element>
   </div>
</div>  -->


 <!-- -----------Attribute Directive vs Structural Directives---------

Attribute : only affect/change the elemnt they added .
Structural : Affects a whole area of DOM
 

  <app-routing></app-routing> -->
